.settings--App {
  padding: 20px 33px;
  .ui.dropdown .menu {
    background: #000;
  }
  .ui.selection.active.dropdown .menu {
    border-color: #000;
  }
  .ui.dropdown > .text:not(.default) {
    color: #fff !important;
  }
  .ui.selection.dropdown > .text > .ui--Dropdown-item .ui--Dropdown-name {
    color: #fff;
  }
  .setting-contetn-bg {
    background-color: #000;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 2px 30px 0 rgb(241 79 158 / 10%);

    .ui--row {
      margin-bottom: 12px;
    }

    .ui--Labelled-content {
      padding: 18px 8px;
      .dropdown.icon {
        color: white;
        font-size: 18px;
      }
      .transition {
        background-color: #1e1d1f;
        box-shadow: 0 20px 30px -15px rgba(0,0,0,1)!important;
        width: 101% !important;
        margin-left: -0.5% !important;
        padding-left: 1rem;
      }
    }

    .ui.selection.dropdown {
      border: none;
      background: none;
    }

    &:not(.isOuter) {
      label {
        left: 10.25rem !important;
        font-size: 22px;
        color: #a3a4a7;
      }
    }

    .test-genral {
      &:not(.isOuter) {
        label {
          left: 4.15rem !important;
        }
      }
    }
    .ui--Dropdown-item {
      display: flex;

      .ui--Dropdown-name {
        margin-left: 35px !important;
        font-size: 24px;
      }
      .ui--Dropdown-icon {
        width: 48px;
        height: 48px;
      }
    }
    .ui--Labelled-content {
      .text {
        font-size: 24px;
        color: #fff;
      }
    }
  }
  .ui--Button {
    font-size: 24px;
  }
}
