.staking-mine-warning {
  transform: translateY(1rem);
  article {
    border-radius: 16px;
    padding: 24px !important;
    color: #707383;
    font-size: 17px !important;
    svg {
      color: #FCA120 !important;
    }
  }
  article::before{
    background-color: #FDEDDB!important;

  }
}
.staking-filter-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .staking-filter-input-box {
    flex: 1;
    margin-right: 3rem;
  }
}
