.double-progress-box {
  display: flex;
  .progress-content-box {
    margin-top: 50px;
  }
  .progress-label-box {
    display: flex;
    margin-bottom: 20px;
    p {
      font-size: 16px;

      .lable-title {
        display: flex;
      }
    }

    .ui--FormatBalance {
      .ui--FormatBalance-value {
        font-size: 20px;
        color: white;
      }
    }

    .label-point {
      width: 8px;
      height: 8px;
      line-height: 16px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 15px;
      margin-top: 6px;
    }

    .first {
      background: linear-gradient(90deg, #203aff 0%, #c000ff 100%);
    }

    .second {
      background: linear-gradient(90deg, #ff006a 0%, #ff0040 100%);
    }
    .third {
      background: linear-gradient(90deg, #ffa400 0%, #ff230e 100%);
    }
    .fouth {
      background: linear-gradient(90deg, #1f71e2 0%, #18fffb 100%);
    }
  }
}
.target-mine-data {
  .ui--Labelled-content {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  input {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    color: white !important;
  }
}
.other-set{
  display: flex;
  align-items: center;
  .epoch-flex{
    .ui--Labelled{
      margin-bottom: 10px;
      label{
        font-size: 20px;
        color: #7f7f8a !important;
      }
    }
    .childrenIsNotTop{
      font-size: 32px;
    }
  }
}
.need-black-bg{
  display: flex;
  align-items: center;
  justify-content: center;
  article{
    background-color: #151319;
    border-radius: 16px;
    min-width: 238px;
    min-height: 150px!important;
    justify-content: center;
  }
}
.other-toggle-mine{
  display: flex;
  margin-bottom: 1.5rem;
  .ui--Toggle{
    margin-right: 1rem;
    label{
      color: white!important;
      font-size: 17px;
    }
  }
}