.accounts-parent-box {
  background-color: #151319;
  // padding: 52px 36px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 2px 30px 0 rgba(241, 79, 158, 0.1);
  margin-bottom: 30px;
  .icon-mine-search {
    position: absolute;
    left: 1rem;
    font-size: 1.4rem;
    top: 1.45rem;
    font-weight: 200;
    z-index: 200;
    color: #925cff;
  }
  .ui--Table {
    margin-bottom: 0;
    table {
      .filter {
        th {
          background-color: #151319 !important;
        }
      }
      tbody {
        // background-color: red !important;
        border-radius: 20px !important;
        border-collapse: separate;
        border-spacing: 0;
      }
      tr {
        background-color: #2c2b30 !important;
      }
      tr:first-child {
        td:first-child {
          border-radius: 0 !important;
        }
        td:last-child{
          border-radius: 0!important;
        }
      }
      tr:last-child {
        // background-color: red!important;
        // border-radius: 0 0 16px 16px;
        // .favorite{
        //   border-bottom-left-radius: 16px;
        // }
        // .links{
        //   border-bottom-right-radius: 16px;
        // }
      }

      .mine-footer-table {
        tr {
          background-color: rgba(0, 0, 0, 0) !important;
        }
      }
    }
    table::before {
      background-color: rgba(0, 0, 0, 0);
    }
    .filter--tags {
      // background-color: blue!important;
      // margin-bottom: 2rem;
      .ui.input {
        background-color: #151319;
      }
      .ui--Input {
        margin-bottom: 0;
        input {
          border-radius: 18px;
          height: 60px;
          border-color: rgba(0, 0, 0, 0);
          padding: 1rem !important;
          padding-left: 3.2rem !important;
          font-size: 18px;
          color: white;
        }
      }
    }
    .test-mask {
      width: 100%;
      height: 1rem;
      background-color: #151319;
    }
  }
}

.need-white-mine {
  .ui--Labelled {
    .ui--Labelled-content {
      .input {
        input {
          padding-top: 3.75rem !important;
          padding-bottom: 1rem;
          background-color: white !important;
          // color:black;
        }
      }
      .ui--InputFile {
        padding-top: 3.75rem !important;
        padding-bottom: 1rem;
        background-color: white !important;
      }
    }
  }
}
.warning-mine {
  article.warning::before {
    background-color: #fdeddb;
  }
}
.columnsHint {
  color: #a3a4a7;
}
label {
  color: #a3a4a7 !important;
}
