.staking--App {
  position: relative;

  .staking--queryInput {
    .ui--InputAddressSimpleIcon {
      top: 4rem;
      left: 0.5rem;
    }
  }

.ui--Labelled:not(.isSmall)>.ui--Labelled-content .ui.input>input{
    padding-bottom: 5rem;
  }
}
