.helpLable {
  font-size: 18px !important;
}
.warning-mine {
  article {
    padding: 20px !important;
    font-size: 15px !important;
  }
}
table {
  tr:hover {
    background-color: #2C2B30!important;
  }
}
