.content-box-bg {
  padding: 35px 39px;
  background-color: none;
  border-radius: 20px;
  .start,.address{
    font-size: 24px;
  }
  table {
    box-shadow: 0px 2px 30px 0 rgb(241 79 158 / 10%);
    border-radius: 20px;
    padding: 36px;
    background-color:#000 !important;
    .with-redius-header{
      th{
        background: #000;
        padding: 0;
        h1{
          font-size: 32px;
        }
      }
    }
    tr{
      background: #000 !important;
      margin-bottom:10px;
      .ui--Labelled:not(.isSmall) >  .ui--Labelled-content{
        background: #000;
      }
    }
    label{
      color: #fff;
    }
    .ui--Labelled:not(.isSmall) > .ui--Labelled-content .ui.input > input{
      padding-top: 2.75rem;
    }
    .ui--Param-composite{
      padding-bottom: 10px;
    }
  }
  .hightlight--bg-faint
  .blockinfo-columar{
      padding: 0;
  }
}
