.explorer-page {

  .chain-info-page-switch {
    height: 64px;
    width: 495px;
    margin: auto;
    border-radius: 40px;
    background-color: #E4E4FB;
    background: url(../assets/chooseBarBack.png) 100%;
    color: #fff;
    text-align: center;
    line-height: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 28px;

    .switch-choose {
      // background: linear-gradient( #C000FF 0%, #8400AF 27%, #3D0051 61%, #110016 84%, #000000 96%);
      background: url(../assets/chooseBar.png) 100%;
      color: #fff;
      border-radius: 40px;
      width: 50%;
    }

    .switch-unchoose {
      width: 50%;
    }
  }

  .main-content-box {
    border-radius: 20px;

    .number {
      font-size: 32px;
    }

    .overflow {
      font-size: 16px;
      width: 527px !important;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 50px;
    }

    table {
      tr {
        background: #000 !important;

      }
    }
    .isNotFixed{
      background: none !important;
    }
    .isAddress {
      font-size: 24px;
    }
  }

  .main-box {
    .ui--FormatBalance-value {
      font-size: 40px !important;
    }
  }

  article {
    label {
      color: #7f7f8a;
      font-size: 26px;
    }
  }

  .forks-card {
    background: url(../assets/forks_card_bg.png);
    margin-right: 42px;
  }

  .Forks {
    table {
      tr {
        font-size: 16px;

        td {

          .contents {
            font-size: 16px;

            .parent {
              font-size: 16px;
              line-height: 1.75rem;
            }
          }
        }
      }
    }
  }

  .ui.input {
    color: #fff;
  }

  .ui.selection.dropdown,
  .ui.input>input,
  .ui.selection.dropdown>input {
    color: var(--color-modal-text);
  }

  .ui.selection.dropdown {
    background: none;
  }

  .ui.dropdown>.text:not(.default) {
    color: #fff !important;
  }

  .box-shadow-purple {
    box-shadow: 34px -10px 53px 47px #391f3f;
  }
  .total-storage-card {
    padding: 0px;
    .epoch-flex .childrenIsNotTop{
      margin-top:21px;
    }
  }
}
.second-section{
  display: flex;
}
.third-section{
  margin-bottom: 20px;
  .programBox{
    border-radius: 40px;
  }
  .programBox:first-child{
    margin-right: 0 !important;
  }
}
@media only screen and (min-width:1489px) {
  .third-section{
    width: 100%;
    justify-content: left;
  }
}
@media only screen and (max-width:1488px) {
  .third-section{
    justify-content: center;
  }
  .summary-box{
    justify-content: center !important;
  }
}
