.payout-mine-data {
  .ui--Labelled-content {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  input {
    padding-bottom: 0.5rem !important;
    padding-top: 3.5rem !important;
    color: white !important;
  }
}
