.left-menu-parent {
  background-color: #151319;
  width: 150px;
  min-width: 150px;
  height: calc(120vh - 100px - 2rem);
  margin-top: 2rem;
  border-radius: 0 20px 20px 0;
  //   overflow: auto;
  .menuContainer {
    display: flex;
    height: 100%;
    max-height: 100%;
    // overflow: auto;
    flex-direction: column;
    padding-bottom: 1rem;
    justify-content: space-between;
    // position: relative;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    li:hover {
      color: white;

      .groupHdr {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  .menuItems {
    margin: 0;
  }
}
