.first-section {
  width: 40%;

  article {
    max-height: 250px;
    max-width: 224px;
    margin: auto;
    padding: 45px 73px;

    .iconBox {
      margin-bottom: 36px;
    }
  }
}

.second-section {
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-evenly;

  article {
    min-width: 40%;
    max-height: 112px;
    max-width: 40%;

    .color-black {
      color: black !important;
    }
  }
}

.third-section {
  width: 40%;

  .total-storage-card {
    min-width: 377px;
    max-width: 377px;
    max-height: 167px;
  }

  article {
    min-width: 335px;
    max-width: 335px;
    max-height: 167px;
    display: flex;
    justify-content: space-evenly;

    .epoch-flex {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
