.first-section {

  article {
    max-height: 250px;
    max-width: 224px;
    margin: auto;
    .iconBox {
      margin-bottom: 36px;
    }
  }
}

.second-section {
  flex-wrap: wrap;
  justify-content: space-evenly;

  article {
    min-width: 271px;
    max-height: 112px;
    max-width: 271px;
    background: none;

    .color-black {
      color: black !important;
    }
  }
}
