.first-section {

  article {
    max-height: 250px;
    max-width: 224px;
    margin: auto;
    .iconBox {
      margin-bottom: 36px;
    }
  }
}

.second-section {
  flex-wrap: wrap;
  justify-content: space-evenly;

  article {
    min-width: 271px;
    max-height: 112px;
    max-width: 271px;
    background: none;

    .color-black {
      color: black !important;
    }
  }
}
.progress-epoch-box{
  width: 50%;
  margin-left: 30px;
  .progress-box-title{
    
    font-size: 48px;
    color: #fff;
    width: 100%;
    text-align: right;
  }
  .progress-box-content{
    margin-top: 67px;
    text-align: left;
    width: 100%;
    font-size: 36px;
    color: #7f7f8a;
    line-height: 50px;
    .epoch-timer,.block-time-content{
      font-size: 36px;
  }
  }
}
  