.progress-box {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px 10px #212642;
  background-color: #000;
    padding: 20px;
  .percent-format {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 36px;
    white-space: normal;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}
.prgress-double-box{
  position: relative;
  .progress-second-antd-box{
    position: absolute;
    top: 21%;
    left: 20%;
  }
}
