.nodeinfo-box-bg {
  padding: 36px;
  border-radius: 20px;
  .summary-box{
    justify-content: flex-start!important;
  }
  .ui--Table{
      box-shadow: 0px 2px 30px 0 rgb(241 79 158 / 10%);
  }
    table{
        padding:54px 35px ;
        th{
            padding: 0;
            h1{
                font-size: 38px;
                color: #fff;
            }
        }
        .empty{
            color: #a3a4a7;
            font-size: 24px;
        }
        background-color: #000 !important;
        .with-redius-header th{
            background-color: #000;
        }
    }
    
    .ui--Expander-summary-header {
        font-size: 24px;
        color: #fff;
        
        .ui--output {
            padding-left: 1.45rem;
            padding-top: 2.75rem;
        }
    }
    
    table th h1 {
        font-size: 28px;
    }
    .ui--Labelled:not(.isSmall) > .ui--Labelled-content{
        background: none !important;
    }
}
.nodeinfo-card {
  background: url(../../assets/forks_card_bg.png);
  width: 350px;
  height: 190px;
  padding: 30px 36px;
  font-size: 56px;
  color: #fff;
  text-align: center;
  border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 2rem;
  header {
    font-size: 30px;
    width: 100%;
    text-align: left;
    color: #a3a4a7
  }

  .ui--Elapsed {
    font-size: 56px;
    color: #fff;
    width: 100%;
    text-align: center;
  }
}
