table {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 0 0 16px 16px;
}
.with-redius-header {
//   background-color: red !important;
  th{
      background-color: white;
  }
  th:first-child {
    border-top-left-radius: 16px;
  }
  th:last-child {
    border-top-right-radius: 16px;
  }
}
