.wait-mine-data {
  // display: none;
  .ui--Labelled-content {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  input {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    color: white !important;
  }
}
.staking--Overview {
  .box-shadow-purple {
    box-shadow: 0px 68px 53px 74px #391f3f;
  }
}
.ui--Labelled-content {
  input {
    border-radius: 16px !important;
  }
}
tr.filter {
  .ui.input {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
.need-move-icon {
  display: flex;
  align-items: center;
  .ui--FormatBalance {
    display: flex;
    align-items: center;
  }
  .ui--Icon {
    font-size: 16px;
  }
}
